@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 04");
}

@section banner {
    <h1>@Page.Title</h1>
}

@{
    var artist = "0";
    var title = "";
    var year = "0";
    var musicLabel = "";

    bool isSearch = false;


    var buttonControl = Request.Form["button-control"];    

    var database = Database.Open("CHINOOK");

    string albumQuery = "SELECT AlbumId, Title FROM Albums WHERE AlbumId = @0 ORDER BY Name";

    // SQL to retrieve all the artist id's and the names alphabetically
    var artistListSQL = "SELECT ArtistId, Name FROM Artists ORDER BY Name";
    var artistListQuery = database.Query(artistListSQL, );

    // When you have time, create a database query that will return the count of artists and then using ".QueryValue()".
    // Pass this value into the validator range in case if the database artist count increases dynamically rather than putting in 300.
    Validation.Add("input-artist-list", Validator.Range(1, 300, "An artist needs to be selected"));
    Validation.Add("input-title", Validator.Required("Album title is required"));
    Validation.Add("input-year", Validator.Range(1950, 9999, "Year is a range from 1950 to present"));
    Validation.Add("input-music-label", Validator.StringLength(50, 1, "Album label is limited to a max of 50 characters"));

    if (IsPost)
    {
        //artist = Request.Form["input-artist-list"];
        //title = Request.Form["input-title"];
        //year = Request.Form["input-year"];
        //musicLabel = Request.Form["input-music-label"];

        if (buttonControl.Equals("Search"))
        {
            isSearch = true;

            //artist = "0";
            //title = "";
            //year = "0";
            //musicLabel = "";
        }
        else
        {
            if (Validation.IsValid())
            {
                try
                {

                }
                catch (Exception exception)
                {
                    <p>Error: @exception.Message</p>
                }

            }
        }
    }
}

<form id="album-form" class="form-signin" method="post">
    <div class="text-center mb-4">
        <h2 class="mb-3 font-weight-normal">Edit an Album</h2>
    </div>

    <div class="input-group">
        <input type="text" id="input-text" class="form-control" name="input-text" placeholder="Enter an artist name" />
        @*<label for="input-text">Enter an artist name</label>*@
        <button type="submit" id="search-button" class="btn btn-primary ml-2" name="button-control" value="Search">Search</button>
    </div>

    @{
        if (isSearch == true)
        {
            <div class="form-group">
                <label class="col-2 col-form-label" for="input-artist">Artist</label>
                <select id="input-artist-list" name="input-artist-list" class="form-control">
                    <option value="0">Select an artist</option>
                    @foreach (var artistRow in artistListQuery)
                    {
                        if (artistRow.ArtistId.ToString() == artist)
                        {
                            <option value="@artistRow[0]" selected>@artistRow[1]</option>
                        }
                        else
                        {
                            <option value="@artistRow[0]">@artistRow[1]</option>
                        }
                    }
                </select>
            </div>

            @*@Html.ValidationSummary()
                <div class="form-group">
                    <label class="col-2 col-form-label" for="input-artist">Album</label>
                    <select id="input-artist-list" name="input-artist-list" class="form-control">
                        <option value="0">Select an album</option>
                        @foreach (var artistRow in artistListQuery)
                        {
                            if (artistRow.ArtistId.ToString() == artist)
                            {
                                <option value="@artistRow[0]" selected>@artistRow[1]</option>
                            }
                            else
                            {
                                <option value="@artistRow[0]">@artistRow[1]</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-label-group">
                    <input type="text" id="input-title" class="form-control" name="input-title" placeholder="Title" value="@title">
                    <label for="inputEmail">Title</label>
                </div>

                <div class="form-label-group">
                    <input type="number" id="input-year" class="form-control" name="input-year" placeholder="Year" value="@year">
                    <label for="inputEmail">Year</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="input-music-label" class="form-control" name="input-music-label" placeholder="Music Label" value="@musicLabel">
                    <label for="inputEmail">Music Label</label>
                </div>

                <div class="form-label-group mt-2 text-center">
                    <button id="add-button" class="btn btn btn-secondary ml-0" name="button-control" value="Add">Edit</button>
                    <button id="delete-button" class="btn btn btn-danger" name="button-control" value="Delete">Delete</button>
                </div>*@
        }
    }
</form>