@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 04");
}

@section banner {
    <h1>@Page.Title</h1>
}

@{


    bool isSearch = false;
    bool isArtistSelected = false;
    string displayDropDown = "none";

    var database = Database.Open("CHINOOK");

    var inputText = Request.Form["input-text"];
    var buttonControl = Request.Form["button-control"];    

    var inputTextString = "%" + inputText + "%";
    string artistListSQL = "SELECT ArtistId, Name FROM Artists WHERE Name LIKE @0";
    var artistListOutput = database.Query(artistListSQL, inputTextString);

    

    if (IsPost)
    {
        var dropDownList = Request.Form["album-list"];
        var fetchAlbumsButton = Request.Form["fetch-albums"];

        string artistAlbumsSQL = "SELECT AlbumId, Title, ReleaseYear, ReleaseLabel FROM Albums WHERE ArtistId = @0 ORDER BY Title";
        var artistAlbumOutput = database.Query(artistAlbumsSQL, dropDownList);

        if (string.IsNullOrEmpty(inputText))
        {
            <p>Please input a name!</p>
        }
        else
        {
            if (buttonControl.Equals("Search"))
            {
                isSearch = true;
                displayDropDown = "block";
            }
            else
            {

            }

        }
        if (fetchAlbumsButton.Equals("fetch-albums"))
        {
            if (dropDownList.Equals(""))
            {

            }
            else
            {
                isArtistSelected = true;
            }
        }
    }
}

<form id="album-form" class="form-signin" method="post">
    <div class="text-center mb-4">
        <h2 class="mb-3 font-weight-normal">Edit an Album</h2>
    </div>

    <div class="input-group">
        <input type="text" id="input-text" class="form-control" name="input-text" placeholder="Enter an artist name" />
        @*<label for="input-text">Enter an artist name</label>*@
        <button type="submit" id="search-button" class="btn btn-primary ml-2" name="button-control" value="Search">Search</button>
    </div>

    <div class="container" style="display: @displayDropDown">
        <div class="col-md-6">
            <form class="form-inline" method="post">
                <div class="form-group">
                    <select id="album-list" name="album-list" class="form-control">
                        <option value="">Select an Artist</option>
                        @foreach (var row in artistListOutput)
                        {
                            <option value="@row.ArtistId">@row.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group ml-2">
                    <button type="submit" id="fetch-albums" class="btn btn-primary margin" name="fetch-albums" value="fetch-albums">Fetch Albums</button>
                </div>
            </form>
        </div>
    </div>
</form>
@{

    

    if (isArtistSelected == true)
    {
    <div class="container">
        <h2>List of artists</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Released</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var row in artistAlbumOutput)
                {
                    <tr>
                        <td>@row.AlbumId</td>
                        <td>@row.Title</td>
                        <td>@row.ReleaseYear</td>
                        <td>@row.ReleaseLabel</td>
                    </tr>
                }*@
            </tbody>
        </table>
    </div>
    }
}
